<table>
  <tr>
    <thead>
      <h2>Angular Operations</h2>
    </thead>
  </tr>
  <tr>
    <td>
      <label for="ID">ID</label>
    </td>
    <td>
      <input type="text" name="ID">
    </td>
  </tr>
  <tr>
    <td>
      <label for="Name">Name</label>
    </td>
    <td>
      <input type="text" name="Name">
    </td>
  </tr>

  <tr>
    <td>
      <label for="Salary">Salary</label>
    </td>
    <td>
      <input type="text" name="Salary">
    </td>
  </tr>

  <tr>
    <td>
      <label for="Department">Department</label>
    </td>
    <td>
      <input type="text" name="Department">
    </td>
  </tr>
</table>
